@import "fonts";

.my_container {
    background-color: #fff3e7;
    overflow: hidden;
}
.img {
    max-width: 100%;
    margin: 0 auto;
    height: auto;
    display: block;
}

.text_title {
    width: 850px;
    max-width: 100%;
    margin: 0px auto;
    text-align: center;
    font-size: 26px;
    font-family: "Philosopher";
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    margin-bottom: 15px !important;
}
.text_content {
    width: 700px;
    max-width: 100%;
    margin: 0 auto;
    text-align: left;
    font-size: 18px;
    position: relative;
    font-family: "K2D";
    font-weight: normal;
    font-style: normal;
}

.group_image {
    position: relative;
    width: fit-content;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    img {
        position: absolute;
        top: 0;
        left: 0;
    }
    & img:first-child {
        position: initial;
    }
}

.author {
    font-size: 18px;
    font-family: "San Francisco Text";
    font-weight: normal;
    font-style: normal;
    text-align: center;
    // width: 700px;
    max-width: 100%;
    margin: 0 auto;
    display: block;
    p {
        text-align: center;
        span {
            font-weight: bold;
        }
        margin-bottom: 0;
    }
    margin-top: 0px;
}

.time_post_art {
    display: none !important;
}

//Section 1

.section-1 {
    position: relative;
    .group_img_1 {
        position: absolute;
        top: 4%;
        right: 3%;
    }
}

//section-02

.section-2 {
    padding-top: 60px;
    padding-bottom: 30px;
}

.quote-area {
    .quotes {
        text-align: center;
        font-size: 30px;
        font-family: "Manrope", sans-serif;
        font-weight: 700;
        font-style: normal;
    }
    .quotes-author {
        text-align: center;
        font-size: 22px;
        font-family: "Manrope", sans-serif;
        font-weight: 600;
        font-style: normal;
    }
    .img-icon-quote {
        margin-top: 65px;
        margin-bottom: 60px;
    }
}
.area-1 {
    background-image: url(../images/bg-title-1.png);
    background-repeat: no-repeat;
    background-position: center bottom 40px;
}

.img-line {
    margin-bottom: 40px;
}

.sub-title {
    font-size: 60px;
    text-align: center;
    font-family: "Canela";
    font-weight: 500;
    font-style: normal;
}

//section-03

.section-3 {
    padding-top: 20px;
}

.img-2 {
    margin-top: 60px;
    border-radius: 28px;
    position: relative;
}
.img-5 {
    margin-top: -63%;
    margin-bottom: 40px;
}

@media (min-width: 577px) {
    .mobile {
        // display: none !important;
    }
}

@media (max-width: 576px) {
    .pc {
        // display: none !important;
    }
}
