@font-face {
  font-family: "Canela";
  src: url("../fonts/Canela-Bold.eot");
  src: url("../fonts/Canela-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Canela-Bold.woff2") format("woff2"), url("../fonts/Canela-Bold.woff") format("woff"), url("../fonts/Canela-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-ExtraLight.eot");
  src: url("../fonts/Manrope-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-ExtraLight.woff2") format("woff2"), url("../fonts/Manrope-ExtraLight.woff") format("woff"), url("../fonts/Manrope-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Canela";
  src: url("../fonts/Canela-Medium.eot");
  src: url("../fonts/Canela-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Canela-Medium.woff2") format("woff2"), url("../fonts/Canela-Medium.woff") format("woff"), url("../fonts/Canela-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.eot");
  src: url("../fonts/Manrope-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-Regular.woff2") format("woff2"), url("../fonts/Manrope-Regular.woff") format("woff"), url("../fonts/Manrope-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-SemiBold.eot");
  src: url("../fonts/Manrope-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Manrope-SemiBold.woff2") format("woff2"), url("../fonts/Manrope-SemiBold.woff") format("woff"), url("../fonts/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }
.my_container {
  background-color: #fff3e7;
  overflow: hidden; }

.img {
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  display: block; }

.text_title {
  width: 850px;
  max-width: 100%;
  margin: 0px auto;
  text-align: center;
  font-size: 26px;
  font-family: "Philosopher";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  margin-bottom: 15px !important; }

.text_content {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
  font-size: 18px;
  position: relative;
  font-family: "K2D";
  font-weight: normal;
  font-style: normal; }

.group_image {
  position: relative;
  width: fit-content;
  max-width: 100%;
  height: auto;
  margin: 0 auto; }
  .group_image img {
    position: absolute;
    top: 0;
    left: 0; }
  .group_image img:first-child {
    position: initial; }

.author {
  font-size: 18px;
  font-family: "San Francisco Text";
  font-weight: normal;
  font-style: normal;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  display: block;
  margin-top: 0px; }
  .author p {
    text-align: center;
    margin-bottom: 0; }
    .author p span {
      font-weight: bold; }

.time_post_art {
  display: none !important; }

.section-1 {
  position: relative; }
  .section-1 .group_img_1 {
    position: absolute;
    top: 4%;
    right: 3%; }

.section-2 {
  padding-top: 60px;
  padding-bottom: 30px; }

.quote-area .quotes {
  text-align: center;
  font-size: 30px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-style: normal; }
.quote-area .quotes-author {
  text-align: center;
  font-size: 22px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-style: normal; }
.quote-area .img-icon-quote {
  margin-top: 65px;
  margin-bottom: 60px; }

.area-1 {
  background-image: url(../images/bg-title-1.png);
  background-repeat: no-repeat;
  background-position: center bottom 40px; }

.img-line {
  margin-bottom: 40px; }

.sub-title {
  font-size: 60px;
  text-align: center;
  font-family: "Canela";
  font-weight: 500;
  font-style: normal; }

.section-3 {
  padding-top: 20px; }

.img-2 {
  margin-top: 60px;
  border-radius: 28px;
  position: relative; }

.img-5 {
  margin-top: -62%;
  margin-bottom: 40px; }

/*# sourceMappingURL=main.css.map */
